$size-3	:1em;
$card-background-color: #17141d;
$card-shadow: -1rem 0 3rem #000;
$title-size: 7rem;
$title-weight:700;
$subtitle-size:1.3rem;
$subtitle-weight: 100;
$input-focus-border-color: white;

@import "~bulma/bulma";
